* {
    padding: 0 ;
    margin: 0;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    padding-top: 50%;
}

body {
    background-color: #2d6bf1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

#game-intro {
    position: absolute;
    background-color: aliceblue;
    height: 30em;
    width: 40em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2em;
    border: black solid 2px;
    display: block;
    text-align: center;
}

#game-intro #logo {
    position: absolute;
    background-color: rgb(241, 0, 0);
    height: 4em;
    width: 30em;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2em;
    text-align: center;
    border: black solid 2px;
}

#game-intro #difficult {
    position: absolute;
    background-color: aliceblue;
    height: 4em;
    width: 30em;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-content: space-around;
}

#easy-button {
    background-color: rgb(255, 0, 200);
    height: 4em;
    width: 4em;
    border-radius: 2em;
    font-size: 0.8em;
    font-weight: bolder;
    border: black solid 2px;
}

#hard-button {
    background-color: rgb(0, 237, 63);
    height: 4em;
    width: 4em;
    border-radius: 2em;
    font-size: 0.8em;
    font-weight: bolder;
    border: black solid 2px;
}

#result {
    font-size: 3.5em;
}

#start-button {
    position: absolute;
    background-color: rgb(0, 255, 238);
    height: 4em;
    width: 30em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2em;
    font-size: 1em;
    font-weight: bolder;
    border: black solid 2px;
}

#game-screen {
    position: absolute;
    background-color: aliceblue;
    height: 40em;
    width: 40em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5em;
    display: none;
}

#game-end {
    position: absolute;
    background-color: aliceblue;
    height: 30em;
    width: 40em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2em;
    display: none;
    text-align: center;
}

.simon {
    position: absolute;
    width: 29em;
    height: 29em;
    background-color: black;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.color-part {
    height: 12em;
    width: 12em;
    position: absolute;
}

#color1 {
    background-color: #026402;
    border-radius: 13em 0 0 0;
    top: 1.87em;
    left: 1.87em;

}

#color2 {
    background-color: #971900;
    border-radius: 0 13em 0 0;
    top: 1.87em;
    right: 1.87em;

}

#color3 {
    background-color: #0b017d;
    border-radius: 0 0 13em 0;
    bottom: 1.87em;
    right: 1.87em;

}

#color4 {
    background-color: #797d01;
    border-radius: 0 0 0 13em;
    bottom: 1.87em;
    left: 1.87em;

}

.simon:before {
  position: absolute;
  content: "";
  background-color: black;
  height: 13em;
  width: 13em;
  z-index: 1;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 50%;
}

#count {
    background-color: white;
    font-size: 2.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 1;
    height: 2em;
    width: 3em;
    display: grid;
    place-items: center;
    border-radius: 0.3em;
}

@media screen and (max-width: 600px) {
    body {
      font-size: 10px;
    }
    .wrapper {
      height: 35em;
      width: 35em;
    }
}